//---логотип
.logo
{
    font-size: 24px;

    background: linear-gradient(
    to right,
    $blue 27%,
    black 1%,
    black 50%,
    $orange 1%,
    $orange 78%,
    black 1%,
    black 10%
    );
    span
    {
        mix-blend-mode: lighten;
    }
}
.logo_white
{
    span
    {
        background: white;
    }
}
.logo_light-green
{
    span
    {
        background: $light-green;
    }
}

//---кнопки
.base-button
{
    font-size: 20px;
    line-height: 97%;

    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 265px;
    height: 70px;
    padding-left: 22px;

    transition-duration: .5s;
    letter-spacing: -.03em;

    border: none;
    border-radius: 82px;
    background: $orange;

    gap: 16px;
    &:hover
    {
        border: none;
        background: $blue;
    }
}
.min-button
{
    width: 37px;
    height: 37px;

    transition-duration: .5s;

    border: none;
    border-radius: 100%;
    background: $white;
    &:hover
    {
        border: none;
        background: $orange;
    }
    &:disabled
    {
        background: $orange;
    }
}
.clear-button
{
    padding: 0;

    border: none;
    background: none;
}

//---иконки
.icon
{
    display: inline-block;

    transition: .5s;

    mask-size: cover;
}
.icon_sidebar
{
    width: 17px;
    height: 14px;

    background: $orange;

    mask: url(../img/sidebar-button.svg);
}
.icon_call-arrow
{
    width: 16px;
    height: 16px;

    background: $white;

    mask: url(../img/call-arrow.svg);
}
.icon_slider-button
{
    width: 15px;
    height: 16px;

    background: $black;

    mask: url(../img/slider-arrow.svg);
}
.icon_slider-button-rotate
{
    width: 15px;
    height: 16px;

    transform: rotate(180deg);

    background: $black;

    mask: url(../img/slider-arrow.svg);
}
