.slider
{
    position: relative;

    display: flex;
    overflow: hidden;

    //--элемент слайдера
    &__item
    {
        display: flex;
        align-items: center;
        flex-direction: column;

        height: 609px;
        padding: 32px 3px 44px;

        border-radius: 48px;
        background-image: url(../img/slider-background-mobile.svg);

        gap: 31px;

        @media (min-width: 1400px)
        {
            flex-direction: row;
            justify-content: space-between;

            height: 481px;
            padding: 60px 77px 56px 98px;

            background-image: url(../img/slider-background.svg);
            background-size: cover;

            gap: 0;
        }
    }

    &__header
    {
        display: flex;
        align-items: center;
        flex-direction: column;

        gap: 24px;

        @media (min-width: 1400px)
        {
            align-items: flex-start;

            padding-left: 1px;

            gap: 15px;
        }
    }

    //--текст слайдера
    &__title
    {
        display: flex;
        align-items: center;
        flex-direction: column;

        @media (min-width: 1400px)
        {
            align-items: flex-start;
        }

        h1,
        p
        {
            text-align: center;

            @media (min-width: 1400px)
            {
                text-align: left;
            }
        }

        h1:after
        {
            display: block;

            width: 280px;
            height: 1px;
            margin: 14.5px 3px 16px;

            content: '';

            background: $light-grey;

            @media (min-width: 1400px)
            {
                margin: 24px 0;
            }
        }

        p
        {
            line-height: 150%;

            width: 270px;

            @media (min-width: 1400px)
            {
                line-height: 144%;

                width: 365px;
            }
        }

        span
        {
            @media (min-width: 1400px)
            {
                font-size: 46px;

                letter-spacing: .001em;
            }
        }
    }

    &__description
    {
        display: block;

        @media (min-width: 1400px)
        {
            display: none;
        }
    }

    &__button
    {
        position: absolute;
        z-index: 1;
        top: 50%;

        display: none;

        transform: translateY(-50%);

        @media (min-width: 1400px)
        {
            display: block;
        }

        &_prev
        {
            left: 24px;
        }

        &_next
        {
            right: 24px;
        }
    }

    img
    {
        height: 220px;
        @media (min-width: 1400px)
        {
            position: relative;
            top: -7px;

            height: 320px;
        }
    }
}
