@font-face
{
    font-family: $font-family;
    font-weight: 900;
    font-style: normal;

    src: url('../fonts/Gilroy-Black.ttf');
}
@font-face
{
    font-family: $font-family;
    font-weight: 600;
    font-style: normal;

    src: url('../fonts/Gilroy-SemiBold.ttf');
}
@font-face
{
    font-family: $font-family;
    font-weight: 500;
    font-style: normal;

    src: url('../fonts/Gilroy-Medium.ttf');
}
@font-face
{
    font-family: $font-family;
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/Gilroy-Regular.ttf');
}


//--шрифты
.gilroy-black
{
    font:
    {
        family: $font-family;
        weight: 900;
        size: 24px;
    };

    color: $black;
    @media (min-width: 1400px)
    {
        font-size: 46px;
    }
}
.gilroy-semi-bold
{
    font:
    {
        family: $font-family;
        weight: 600;
        size: 24px;
    };

    color: $black;
    @media (min-width: 1400px)
    {
        font-size: 46px;
    }
}
.gilroy-medium
{
    font:
    {
        family: $font-family;
        weight: 500;
        size: 24px;
    };

    color: $black;
    @media (min-width: 1400px)
    {
        font-size: 46px;
    }
}
.gilroy-regular
{
    font:
    {
        family: $font-family;
        weight: 400;
        size: 12px;
    };

    color: $black;
    @media (min-width: 1400px)
    {
        font-size: 16px;
    }
}

//--цвета
.black
{
    color: $black;
}
.black_hover
{
    transition-duration: .5s;
    &:hover
    {
        color: $orange;
    }
}
.grey
{
    color: $grey;
}
.orange
{
    color: $orange;
}
.blue
{
    color: $blue;
}
.white
{
    color: $white;
}
.light-grey
{
    color: $light-grey;
}
