.navigation
{
    display: none;

    padding-top: 9px;

    gap: 47px;
    a
    {
        font-size: 13px;
    }
}

@media (min-width: 1400px)
{
    .navigation
    {
        display: flex;
    }
}
