.navigation
{
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 26px;
    a
    {
        font-size: 13px;
    }

    &_horizontal
    {
        display: none;
        flex-direction: row;

        padding-top: 9px;

        gap: 47px;

        @media (min-width: 1400px)
        {
            display: flex;
        }
    }
}
