@import 'abstracts/all';
@import 'core/all';
@import 'components/all';
@import 'layout/all';
@import 'sections/all';

body
{
    min-width: 320px;
    padding: 16px 13px;

    background: $background;

    @media (min-width: 1400px)
    {
        padding: 24px 121px 26px 119px;
    }
}

.scroll-bar-off
{
    overflow: hidden;

    height: 100vh;
}

button:hover,
a:hover,
li:hover,
.pointer
{
    cursor: pointer;
}

.desktop-el
{
    display: none;
    @media (min-width: 1400px)
    {
        display: inline-block;
    }
}

.mobile-el
{
    display: inline-block;
    @media (min-width: 1400px)
    {
        display: none;
    }
}
